.Index{
    min-height: 400px;
}
.body{
    height: 100%;
    width: 1150px;
    margin: 0 auto;
}
.Title-Top-H1{
    height: 40px;
    width: 100%;
    margin: 48px 0 10px 0;
    font-size: 18px;
}
.Title-Taxt{
    line-height: 48px;
    font-weight: 900;
}
.index-panel{
    float: left;
    width: 100%;
}

.biometric_data{
    height: 249px;
    width: 900px;
    float: left;
    margin-left: 20px;
}
.index-count{
    float: left;
}





.bio-item-icon{
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 18%;
    width: 100%;
    color: #4a4d59;
}
.bio-item-box{
    width: 180px;
    margin-right: 0px;
    height: 182px;
    display: block;
    float: left;
    position: relative;
    border-right: 1px solid #f2f2f2;
}
.bio-item-chart{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    position: relative;
    background: transparent;
    width: 100%;
    height: 48%;
    margin-bottom: 2px;
}
.bio-item-text{
    text-align: center;
    padding-bottom: 7px;
}
.bio-item-text-value{
    font-size: 16px;
    color: #4a4d59;
}
.bio-item-text-cell{
    color: #888c91;
    font-size: 12px;
}



.chart_item{
    height: 300px;
    width: 1150px;
}

.module_chart_tab_cla{
    padding-top: 250px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    color: #474b4f;
}
.tab_head_cla li{
    min-width: 80px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    word-spacing: 4px;
    height: 100%;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.activated{
    border-bottom: 2px solid #7ac142;
}

.chart_item_left{
    height: 300px;
    width: 49%;
    float: left;
    position: relative;
    list-style: none;
    padding-top: 16px;
}
.chart_item_right{
    height: 300px;
    width: 49%;
    float: right;
    position: relative;
    list-style: none;
    padding-top: 16px;
}

.bar-box{
    width: 92%;
    height: 50px;
    margin: 0px auto;
    max-height: 20%;
}
.bar-box .bar-text{
    height: 15px;
    line-height: 15px;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 15px;
}
.bar-box .bar-text .bar-text-left{
    float: left;
}
.bar-box .bar-text .bar-text-right{
    float: right;
}
.bar-box .bar-chart{
    width: 100%;
    height: 11px;
    margin: 0 auto;
    background: #ccc;
    box-shadow: 0 -15px 10px #EFEFEF inset;
}
.bar-box .bar-chart .bar-chart-content{
    height: 100%;
}
