.count{
    height: 117px;
    background-color: #DBB838;
    border-radius: 5px;
    position: relative;
    width: 230px;
    margin: 0px 0px 15px 0;
}
.deviceInfo_cla{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 15px;
    height: 50%;
    color: #F8F1D7;
}
.count_cla{
    font-size: 20px;
}
.textNum{

}
.msg_cla{

}
.icon-user-img .anticon svg{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    height: 40%;
    font-size: 40px;
    color: #f8f1d7;
}