.count{
    height: 117px;
    background-color: #DBB838;
    border-radius: 5px;
    position: relative;
    left: 20px;
    width: 230px;
    margin: 0px 0px 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
.deviceInfo_cla{
    position: absolute;
    top: 30%;
    margin-top: -20px;
    left: 30px;
    height: 50%;
    color: #212121;
    font-weight: 800;
}
.count_cla{
    font-size: 20px;
    /* color: #693be6; */
}
.textNum{

}
.msg_cla{
    font-size: 18px;
}
.msg_cla span{
    font-size: 12px;
    color: #d6d6d6
}

.icon-user-img .anticon svg{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: -25px;
    height: 40%;
    font-size: 40px;
    color: #f0f1ee;
}