.rygl-ry{
  
}
.rygl-ry-data{
    float: left;
    width: 100%;
}
.rygl-ry-data-datatree{
    float: left;
    width: 19%;
    height: 732px;
    margin-right: 10px;
}
.rygl-ry-data-datatable{
    width: 79%;
    height: 732px;
    float: left;
}
