.Index{
    /* text-align: center; */
    height: 100%;
    width: 100%;
    background:url('../../images/login/index.jpg') round;
}
.Index .background{
    height: 100%;
    width: 100%;
}
.Index-logo{
    height:100%;
    width: 100%;
	position:relative;
}
.logo{
    width: 200px;
    height: 100px;
    position: relative;
    top: 220px;
}


.Index-body{
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.Index-window{
    background-color: rgba(0, 0, 0, 0.164);
    width: 540px;
    height: 550px;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    /* border: 1px solid rgba(0, 0, 0, 0.397); */
    position: relative;
    background: url('../../images/login/userlogin.png') round;
    border-top-left-radius:10px;   
    border-top-right-radius:10px;
    border-bottom-left-radius:10px; 
    border-bottom-right-radius:10px; 
}
.Index .input-Box{
    padding-top: 35%;
}
.Index .input-box{
    margin: 35px auto;
    width: 280px;
    padding-left: 40px;
}
.Index .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color: #6a3be7;
}
.Index .button-box{
    padding-top: 20px;
    width: 198px;
    float: left;
}
.Index .button-box{
    position: relative;
    padding-top: 2px;
    bottom: -30px;
    left: 173px;
    width: 200px;
    height: 45px;
    float: left;
}
.Index .ant-btn-primary{
    width: 100%;
    height: 100%;
    background-color: #6a3be7;
    border-color: #5535ae;
    border-radius: 25px;
}
.button-box{
    padding-top: 20px;
    width: 198px;
    float: left;
}
.company{
    color: #0c0c12;
    font-size: 15px;
    padding-top: 100px;
    font-weight: 500;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}
.memory{
    width: 16px;
    height: 16px;
    float: left;
    padding-right: 22px;

}
.memory-body a{
    color: #693be7;
}
.memory-body{
    position: absolute;
    right: 120px;
    color: #bfbfbf;
    bottom: 180px;
}
input[type='radio'], input[type='checkbox']{
    height: 16px;
}

.Index-fingerprint{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}
.Index-window img{
    position: relative;
    height: 150px;
    width: 136px;
    background-color: #0000;
}

.Index .ant-input-affix-wrapper .ant-input{

    background-color: #f0f8ff00;
    border: 1px solid #d9d9d900;
    color: #693be6;
}
.Index .ant-input-clear-icon{

    color: #fafafa78;
}