.data-table{

}

.data-table .first-child i:hover{
  color: rgb(0, 0, 0) !important
}

.data-table .first-child{
  height: 32px;
  line-height: 32px;
  min-width: 200px;
  padding: 0px 5px;
  border-bottom: 1px solid #dcdfe2;
  background-color: #dcdfe2;
  font-size: 20px;
}
.data-table .dhx_cell_layout{

}
.data-table .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 5px 5px !important;
}


.dhx_toolbar_btn{
  float: left;
  margin-top: 3px;
  padding: 2px 4px 1px 4px;
  margin-right: 5px;
  line-height: normal;
  cursor: pointer;
}
.dhxtoolbar_text{
  float: right;
  line-height: 18px;
  margin: 2px 4px;
  font-size: 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.data-table .first-child i:hover{
  color: rgb(77, 78, 79) !important

}

.data-table .dhx_toolbar_btn:hover{
  background-color: #c9cdde;
  
}


.data-table .tableStyle td{
  height: 32px;
}





.data-table .tableStyle th{
 
  vertical-align: top;
  /* background-color: #a4bed4; */
  padding: 1px 10px;
  min-width: 100px;
  max-width: 150px;
  width: auto;
  text-align: left;
}
.data-table .content_div{
  /* padding: 5px; */
}

