
.chart_content_cla{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin-bottom: 20px;
}

.chart_container_box{
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    /* padding-top: 40px; */
}
.chart_toolbar{
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
    height: 40px;
    line-height: 40px;
    width: 100%;
}
.chart_title{
    float: left;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
    color: #474b4f;
    font-weight: 800;
}
.chart_btn_bar{
    float: right;
    padding-right: 10px;
    /* margin-top: 5px; */
}

.zk-icon-loop{
    cursor: pointer;
    /* padding: 8px; */
    color: #7e8387;
}
.chart_container{
    width: 100%;
    height: 100%;
    position: relative;
}

.timeSelect{
    position: absolute;
    top: -37px;
    left: 184px;
    padding-top: 4px;
    font-size: 14px;
}
.timeSelect>div{
    float: left;
    padding: 3px 16px;
    cursor: pointer;
    margin: 0px 10px;
    border-radius: 2px;
}
.activation{
    background-color: #f0f1ee;
    border: 1px solid #ced2c6;
}