.rygl-lzry{
  
}
.rygl-lzry-data{
    float: left;
    width: 100%;
}
.rygl-lzry-data-datatable{
    width: 100%;
    height: 732px;
    float: left;
}
.rygl-lzry-operation a{
    margin-left: 6px
}
.rygl_lzry_newly_added{
    height: 170px;
}
.rygl_lzry_tableStyle label{
    float: left;
    width: 80px;
    display: block;
}
.rygl_lzry_tableStyle_div{
    margin: 6px auto;
}