.borders_menu{
  padding-top: 65px;
  height: 100%;
}

.dhx_cell_cont_no_borders{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid white!important;
    padding: 0px;
    float: left;
}

.borders_menu .ant-layout-header{
    height: 40px;
}
.borders_menu .ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right{
    margin-top: -100px;
}

.borders_menu .ant-menu-dark .ant-menu-inline.ant-menu-sub{
    /* border-top: 1px solid #1f1f1f; */
}
.borders_menu .ant-layout-footer{
    background:transparent
}
.borders_menu .ant-layout{
    background:#cfded426
}

.borders_menu .ant-input{
    height: 24px !important;
    line-height: 24px !important;
    width: 150px;
    padding: 4px 6px !important;
}
.borders_menu .ant-select{
height: 24px !important;
line-height: 24px !important;
width: 150px !important;
padding: 4px 6px !important;
}
.borders_menu textarea .ant-input{
resize: none;
}

.ant-select-dropdown{
width: 150px !important;

}
.borders_menu .ant-select-selection--single{
height: 24px !important;
line-height: 24px !important;
width: 150px !important;
padding: 4px 6px !important;
margin-left: -6px !important;
margin-top: -4px !important;
}
.borders_menu .ant-select-selection__rendered{
line-height: 12px !important;
margin-left: 0px !important;
}
.borders_menu .ant-select-dropdown-menu-item{
height: 30px !important;
line-height: 24px !important;
width: 150px !important;
padding: 4px 6px !important;
}
.borders_menu .ant-select-tree-dropdown{
    width: 150px;
}
.borders_menu .ant-time-picker-input{
    height: 24px !important;
    line-height: 24px !important;
    width: 150px !important;
    padding: 4px 6px !important;
}

.borders_menu .ant-time-picker-icon{
    right: -16px !important;
}

.query_condition{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}
.query_condition div{
    height: 40px;
    float: left;
    margin-right: 10px;
    line-height: 40px;
}
